<div class="header">

	{{#if pantry.yourPantry }}
		{{#if user.photos.length }}
			<img class="profile-logo" src="{{user.photos.0.value}}" />
		{{/if}}
		<h1>{{ pantry.user.displayName }}'s Pantry</h1>
	{{else}}
		<h1>{{ pantry.user.username }}'s Pantry</h1>
	{{/if}}
	<h2>Tracking {{ pantry.items.length }} items</h2>
</div>

<div class="content pantry">
	{{#if pantry.yourPantry }}
	<p class="has-centered-text has-low-contrast" style="margin-bottom: 5rem">
		Here you can find the items you are currently tracking.
	</p>
	{{/if}}


	{{#each pantry.items}}
		<div class="pure-g pantry-item" data-id="{{ this.id }}" data-index="{{ @index }}">
			{{#if ../pantry.yourPantry }}
				<div class="pure-u-1-5 pantry-item__increment">
					<img src="assets/img/icons/plus.png" />
				</div>
			{{/if}}
			<div class="pure-u-3-5">
				<h2>{{ this.name }}</h2>
			</div>
			{{#if ../pantry.yourPantry }}
				{{#if this.useCount}}
					<div class="pure-u-1-5 pantry-item__done is-enabled">
							<img src="assets/img/icons/solid-ok.png" />
					</div>
				{{else}}
					<div class="pure-u-1-5 pantry-item__done">
						<img src="assets/img/icons/done.png" />
					</div>
				{{/if}}
			{{/if}}
		</div>  
	{{/each}}

	{{#if pantry.yourPantry }}
		<p class="has-centered-text">
			Click the <span class="pantry-img-caption"><img src="assets/img/icons/solid-plus.png" /></span> when you use an item.<br />When you are out, click the <span class="pantry-img-caption"><img src="assets/img/icons/solid-ok.png" /></span>.<br />Clicking an item name will bring up more information.
		</p>
	{{ else }}
		{{> global/signup-cta}}
	{{/if}}

</div>