<div class="header">

	{{#if pantry.yourPantry }}
		{{#if user.photo }}
			<img class="profile-logo" src="{{user.photo}}" />
		{{/if}}
		<h1>{{ pantry.user.displayName }}'s Pantry</h1>
	{{else}}
		<h1>{{ pantry.user.username }}'s Pantry</h1>
	{{/if}}

	{{#if pantry.items.length }}
	<h2>Tracking {{ pantry.items.length }} items</h2>
	{{else}}
	<h2>You are not currently tracking anything.</h2>
	{{/if}}
</div>

<div class="content pantry">
	{{#if pantry.yourPantry }}
	<p class="has-centered-text has-low-contrast" style="margin-bottom: 5rem">
		Here you can find the items you are currently tracking.
	</p>
	{{/if}}


	{{#each pantry.items}}
		<div class="pure-g pantry-item" data-id="{{ this.itemID }}" data-index="{{ @index }}">
			{{#if ../pantry.yourPantry }}
				<div class="pure-u-1-5 pantry-item__increment">
					<a href="/item/ping/{{ this.itemID }}">
						<img src="assets/img/icons/target.png" />
					</a>
				</div>
			{{/if}}
			<div class="pure-u-3-5">
				<h2><a href="/item/{{ this.itemID }}">{{ this.name }} ( {{ this.pings }} / {{ this.maxPings }} )</a></h2>
			</div>
			{{#if ../pantry.yourPantry }}
				<div class="pure-u-1-5 pantry-item__done is-enabled">{{!-- {{#unless this.isDone }}is-enabled{{/unless}}"> --}}
					{{!-- {{#unless this.isDone }} --}}
					<a href="/item/done/{{ this.itemID }}">
					{{!-- {{/unless}} --}}
						{{#if this.pings }}
							<img src="assets/img/icons/solid-ok.png" />
						{{else}}
							<img src="assets/img/icons/done.png" />
						{{/if}}
					{{!-- {{#unless this.isDone }} --}}
					</a>
					{{!-- {{/unless}} --}}
				</div>
			{{/if}}
		</div>  
	{{/each}}

	{{#if pantry.yourPantry }}
		
		<div class="pantry-add">
			<a href="/pantry/add">
				<img src="assets/img/icons/solid-plus.png" />
				<span>Track New Item</span>
			</a>
		</div>


		{{!-- <p class="has-centered-text"> --}}
			{{!-- Click the <span class="pantry-img-caption"><img src="assets/img/icons/target.png" /></span> when you use an item.<br />When you are out, click the <span class="pantry-img-caption"><img src="assets/img/icons/solid-ok.png" /></span>.<br />Clicking an item name will bring up more information. --}}
		{{!-- </p> --}}
	{{ else }}
		{{> global/signup-cta}}
	{{/if}}

</div>